@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary: #b07c0c;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #eee;
    background: black;
    overflow: hidden;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 1000;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: #eee;
    text-transform: capitalize;
    font-size: 20px;
}

header i{
    font-size: 20px;
}

a:hover{
    color: var(--primary);
}



.content{
    height: auto;
    display: flex;
    justify-content: start;
    position: absolute;
    width: 100%;
    left: 30px;
    top: 16vh;
    gap: 20px;
    margin: 0 20px;
    z-index: 33;
    transition: all 0.6s;
}

.cim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
}

.logo{
    width: 70px !important;
    height: 80px !important;
}

.cim h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    animation: slideRight 0.7s cubic-bezier(0.52, 0.19, 0.3, 1.46);
}

#alcim p{
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    animation: slideRight 0.7s;
}

button{
    font-family: 'Lato';
    background: transparent;
    border: none;
    color: #eee;
    font-size: 14px !important;
    cursor: pointer;
    text-transform: capitalize;
    text-transform: uppercase;
    transition: all 0.7s;
    font-weight: 300;
    letter-spacing: 2px;
    animation: slideUp 0.6s;
}

button:hover{
    scale: 1.1 !important;
}

.icon-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.icon-btn i{
    font-size: 30px;
    margin-right: -5px;
}

.banner{
    height: calc(100vh - 100px);
    margin-top: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.swiper{
    height: 100%;
    width: 100%;
    z-index: 11 !important;

}

.swiper-slide{
    background-color: black;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
    margin-top: -100px;
    transform: scaleX(-1);
}

.bannerSwiper .swiper-slide-active img{
    transform: translate(45%) scaleX(-1);
    transition: all 0.9s ease;
}

.btn-primary{
    z-index: 222;
    padding: 13px 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.btn-primary >*{
    margin-right: 10px;
}

.btn-primary i{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.thumbs{
    left: 0;
    bottom: 0;
    width: 60vw;
    position: absolute;
    transition: all 0.3s ease;
    
}
.thumbsSwiper{
    box-sizing: border-box;
    padding: 10px 0;
    max-width: 90%;
    overflow-y: unset !important;
}

.thumbsSwiper .swiper-slide{
   width: 25%;
   height: 100%;
   opacity: 1;
   cursor: pointer;
   padding: 0 10px;
   background-color: transparent;
}

.thumbsSwiper .swiper-slide{
    transition: transform 0.7s;
}

.thumbsSwiper .swiper-slide:hover{
    transform: scale(1.1);
}

.thumbs .swipper-wrapper .swiper-slide{
    margin-right: -20px !important;

    animation: slideLeft 0.5s ease-in-out;
}